
.main2 {
    background: black;
    position: relative;
    text-align: center;
    /*width: 100%;*/
    height: 100vh;
    overflow: hidden;
    top: -50px;
    min-height: 1000px;

}

.overlay-text3 h1 {
    font-size: 4em;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, sans-serif;
    z-index: 1;

}
.educat {
    background: black;
    box-shadow: white 0 0 20px;
    border-radius: 40px;
    /*border: black solid 1px;*/
    width: 900px;
    height: 250px;
    top: 30px;
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
}

.education {
    font-size: 1em;
    color: white;
    position: relative;
    top: 150px;
    font-weight: normal;
    font-family: Arial, sans-serif ;
    line-height: 1.4;
    margin: 15.0em;
    right: 0;
    left: 0;

    /*font-size: 1.5em; !* Adjust size as needed *!*/
    /*color: black;*/
    /*font-family: Calibri, sans-serif; !* Match font style *!*/
    /*line-height: 1.4;*/
    /*margin: 100px;*/

}

.smc {
    width: 100px;
    height: 100px;
    position: relative;
    top: -280px;
}

.ijse {
    background: black;
    box-shadow: white 0 0 20px;
    border-radius: 40px;
    width: 900px;
    height: 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 600px;

}

.education2 {
    font-size: 1em;
    color: white;
    position: relative;
    top: -130px;
    font-weight: normal;
    font-family: Arial, sans-serif ;
    line-height: 1.4;
    margin: 15.0em;
    right: 0;
    left: 0;
    white-space: revert;
}

.logo {
    width: 150px;
    height: 100px;
    position: relative;
    top: -590px;
}
