.education {
    width: 100%;
    background: black;
    margin-top: -94px;
}

#education-section-name {
    text-align: center;
    color: white;
    font-size: 4em;
    font-family: Arial, sans-serif;
    padding-top: 91px;
}

#education-section {

    margin-top: -327px;
    display: flex;
    padding: 350px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

#education-section .smc {
    box-shadow: 0px -1px 7px 1px rgb(95, 96, 96);
    background: black;
    width: 968px;
    height: 344px;
    border-radius: 50px;
    margin: 41px
}

.smc-logo {
    width: 170px;
    height: 154px;
    margin: auto;
    display: flex;
    margin-top: 35px;
}

.education-par1{
    padding: 45px;
    display: flex;
    color: white;
    font-size: 1.6rem;
    /* margin-top: -81px; */
    margin-top: 9px;
    text-align: center;
    width: 121vh;
    margin: auto;
}

.education-par2{
    padding: -7px;
    display: flex;
    color: white;
    font-size: 1.6rem;
    margin-top: 9px;
    text-align: center;
    width: 108vh;
    margin: auto;
}


/*@media all and (max-width: 435px){*/
/*    .education {*/
/*        width: 1111px;*/
/*    }*/

/*    #education-section-name {*/
/*        text-align: center;*/
/*        color: white;*/
/*        font-size: 4em;*/
/*        font-family: Arial, sans-serif;*/
/*        padding-top: 91px;*/
/*    }*/

/*    #education-section .smc {*/
/*        width: 780px;*/
/*    }*/


/*}*/